#status {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  height: 64px;
  margin: -32px 0 0 -32px;
  padding: 0;
}

.btn-default {
  color: #f6f6f6;
  background: #cf5022;
  border: 0;
  padding: 12px 24px;
  margin: 0 8px;
  font-size: 18px;
  transition: all 0.5s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: #f6f6f6;
  background-color: #a13e1a;
}
.section-title.center {
  padding: 30px 0;
}
.section-title h2,
.section-title.center h2 {
  margin-bottom: 30px;
}

/* Contact Section */
#contact {
  /* padding: 100px 0 40px 0; */
  background: #f6f6f6;
}
#contact .contact-item {
  padding: 10px;
  margin: 10px;
  height: 100px;
  border-radius: 4px;
}
#contact h3 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
}
#contact form {
  padding: 10px 0;
}
#contact i.fa {
  font-size: 22px;
  color: #e75926;
  margin-bottom: 10px;
}
#contact .text-danger {
  color: #ff3333;
  text-align: left;
}
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
#contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}
#contact .btn-default {
  background: #cf5022;
  border: 0;
  border-radius: 4px;
  padding: 10px 20px;
  color: #f6f6f6;
  margin-top: 15px;
  font-size: 15px;
}
#contact .btn-default:hover,
#contact .btn-default:focus {
  color: #f6f6f6;
  background: #a13e1a;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
#contact .social ul {
  margin-top: 30px;
}
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}
#contact .social i.fa {
  font-size: 24px;
  padding-top: 8px;
  color: #cf5022;
  border-radius: 4px;
  transition: all 0.3s;
}
#contact .social i.fa:hover {
  color: #a13e1a;
}

.form-group {
  margin-bottom: 10px;
}
