@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

.header-fixed.toolbar-fixed .wrapper {
  padding-top: calc(15px + var(--kt-toolbar-height));
}

.aside.aside-dark .aside-logo,
.aside.aside-dark {
  background-color: rgb(50, 122, 109);
}

.aside-dark .menu .menu-item .menu-section {
  color: #fff !important;
}

.aside-dark .menu .menu-item .menu-link .menu-title {
  color: #fff;
}

.aside-dark .menu .menu-item .menu-link.active {
  background-color: #F8A23D;
  /*border-left: 5px solid #2DC19C;*/
}

.aside-dark .menu .menu-item .menu-link.active .menu-title {
  font-size: 1.2rem
}

.menu-item .menu-link .menu-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.aside-dark .menu .menu-item .menu-link.active .menu-icon .svg-icon svg [fill]:not(.permanent):not(g) {
  fill: #fff;
}

.aside-dark .menu .menu-item .menu-link.active .menu-icon i,
.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-icon i,
.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-icon i,
.aside-dark .menu .menu-item.here>.menu-link .menu-icon i,
.aside-dark .menu .menu-item.show>.menu-link .menu-icon i {
  color: #fff;
  font-size: 1.2rem;
}

.aside-dark .menu .menu-item .menu-link .menu-title {
  font-size: 1.1rem;
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-bullet .bullet,
.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-bullet .bullet,
.aside-dark .menu .menu-item .menu-link.active .menu-bullet .bullet {
  background-color: #fff;
}

.aside-dark .menu .menu-item .menu-link .menu-icon i {
  color: #9899ac;
}

.aside .aside-menu {
  /*background-color: #518F83;*/
}



.aside-menu .menu-item .menu-icon i {
  font-size: 1.1rem;
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active),
.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) {
  background-color: #AFDFCB;
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-title,
.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-title {
  color: #202020;
}

.center-v {
  margin: auto;
}

#pageNow {
  font-size: 2rem;
  z-index: 1;
}

.kt-header__bg {
  position: absolute;
  top: 0;
  left: 5px;
  height: 60px;
  z-index: 0;
  opacity: .1
}

.card .card-header {
  background-color: #327A6D;
}

.card .card-header .card-title,
.card .card-header .card-title .card-label {
  color: #fff;
  font-size: 1.45rem;
}

.page-item.active .page-link {
  background-color: #252930;
}

.menu-state-bg-light-primary .menu-item .menu-link:hover:not(.disabled):not(.active),
.menu-state-bg-light-primary .menu-item.hover>.menu-link:not(.disabled):not(.active),
.menu-state-bg-light-primary .menu-item .menu-link:hover:not(.disabled):not(.active) .fa,
.menu-state-bg-light-primary .menu-item.hover>.menu-link:not(.disabled):not(.active) .fa {
  background-color: #e38f2529;
  color: #252930;
}

#kt_header {
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px;
}


.form-label {
  font-size: 1.1rem;
}

.image-input {
  background-size: cover;
  background-position: center;
}

.image-input .image-input-wrapper {
  width: 375px;
  height: 250px;

}

.image-preview {
  width: 250px !important;
  height: 250px !important;

}

little {
  color: gray;

}

.btn-success {
  background-color: #327A6D !important;
  border-color: #327A6D !important;
}

.btn-check:active+.btn.btn-success,
.btn-check:checked+.btn.btn-success,
.btn.btn-success.active,
.btn.btn-success.show,
.btn.btn-success:active:not(.btn-active),
.btn.btn-success:focus:not(.btn-active),
.btn.btn-success:hover:not(.btn-active),
.show>.btn.btn-success {
  background-color: #F8A23D !important;
  border-color: #F8A23D !important;
}

.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
  top: 66px !important;
}

.form-check.form-check-solid .form-check-input:checked {
  background-color: #918151;
}

.form-check.form-check-custom .form-check-label {
  font-size: 1.15rem;
}

.wrap-logo {
  width: 100%;

}

.img-detail {
  border-radius: 5px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.aside-dark .menu .menu-item .menu-link:hover:not(.disabled):not(.active) .menu-icon .svg-icon svg [fill]:not(.permanent):not(g),
.aside-dark .menu .menu-item.hover>.menu-link:not(.disabled):not(.active) .menu-icon .svg-icon svg [fill]:not(.permanent):not(g) {
  transition: fill .3s ease;
  fill: #327A6D;
}

.aside-dark .menu .menu-item .menu-link .menu-icon .svg-icon svg [fill]:not(.permanent):not(g) {
  fill: #fff;
}

.aside.aside-dark .aside-toggle svg [fill]:not(.permanent):not(g),
.btn-check:active+.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn-check:checked+.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary.active .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary.show .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:active:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:focus:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.btn.btn-active-color-primary:hover:not(.btn-active) .svg-icon svg [fill]:not(.permanent):not(g),
.show>.btn.btn-active-color-primary .svg-icon svg [fill]:not(.permanent):not(g) {
  fill: #fff;

}

@media only screen and (max-width: 600px) {
  .image-input .image-input-wrapper {
    width: 80vw;
    height: 200px;

  }

}
